<img class="path-login-top" src="../../assets/images/path1.svg">
<img class="path-login" src="../../assets/images/path2.svg">
<div class="container">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <div class="card-blue">
                <div class="text-center title-card">
                    Login
                </div>
                <div class="row">
                    <div id="form-olvidado">
                        <div class="col-md-12">
                            <input id="name" name="name" placeholder="Usuário" class="form-control cadastro" type="email" required>
                        </div>
                        <div class="col-md-12">
                            <input id="nome" name="name" placeholder="Senha" class="form-control cadastro" required="" type="password" required>
                            <button type="submit" class="button btn-clip-red" style="right: 15px;">
                                <span>
                                    <i class="fa fa-send"></i>
                                </span>
                                <span>
                                    <i class="fa fa-sign-in"></i>
                                </span>
                            </button>
                            <div class="clip-button-border" style="right: 15px;"></div>
                        </div>
                        <div id="olvidado" class="text text-16 text-center" style="cursor:pointer;">Esqueceu a senha?</div>
                    </div>
                    <div style="display: none;" id="form-olvidado">
                        <div class="row">
                            <div class="col-md-12">
                                <input id="name" name="name" placeholder="E-mail" class="form-control cadastro" type="email" required>
                                <button type="submit" class="button btn-clip-red" style="right: 15px;">
                                    <span>
                                        <i class="fa fa-send"></i>
                                    </span>
                                    <span>
                                        <i class="fa fa-share"></i>
                                    </span>
                                </button>
                                <div class="clip-button-border" style="right: 15px;"></div>
                            </div>
                            <div id="acceso" class="text text-16 text-center" style="cursor:pointer;">Voltar</div>
                        </div>
                    </div>
                </div>
                <span class="wave"></span>
                <span class="wave"></span>
                <span class="wave"></span>
            </div>
        </div>
    </div>
</div>